

.form-group {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  gap: .5rem .5rem;
}

.form-group input {
  padding: .5rem;
  border: 1px solid var(--secondary);
  border-radius: var(--border-radius);
}

.form-header {
  margin-bottom: 2em;
}

.form-footer {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.form-error {
  color: red;
}