.nav {
  /* padding: 10px; */
}
.nav__group {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-between;
  background: linear-gradient(to bottom right, #7D80DA, white);
  /* margin-bottom: 20px; */
  /* padding: 10px; */
  height: 50px;
}

.nav__item {
  flex-grow: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__item:hover {
  background-color: #C6AFB1;
}

/* .nav__item:first-child {
  padding-left: 10px;
}

.nav__item:last-child {
  padding-right: 10px;
} */